/*Common*/
.wrapper-nav{
    margin: 0 auto;
    padding: 20px;
}
li{
    list-style: none;
}
img{
    width: 100%;
}

/*Nav Superiore*/

.nav-superiore img{
    width: 30%;
}
.nav-superiore li{
    display: inline-block;
    padding-left: 20px;
}
#lingue li{
    border-right: 1px solid black;
    padding-right: 5px;
}
#lingue li:last-child{
    border: none;
}
.nav-superiore a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
}
#menu{
    text-align: right;
}